<title>{{ title }}</title>

<link rel="stylesheet" href="/stylesheets/style.css"/>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>

<script type="text/javascript" src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/underscore/underscore.js"></script>
<script src="/backbone/backbone.js"></script>
<script src="/javascripts/models/section.js" ></script>
<script src="/javascripts/views/sectionView.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">