<div class="jumbotron">
    <h1>{{title}}</h1>
    <p>{{ description }}</p>
</div>

<script>
    $(document).ready( function(){
        function createSection(title){
            var newSection = new Section();
            var details = {
                title: title,
                body: 'hello world!!!'
            };

            newSection.save(details, {
                success: function (newSection) {
                    alert(newSection.toJSON());
                }
            })
        }
        var aSection = new Section({_id:'52ebfd45fcd789bc4b3c67ab'});

        aSection.fetch({
            success: function(aSection) {
                //alert(aSection['attributes']['title']);
                var view  = new SectionView({model: aSection});
                $('#content').html(view.render().el);
            }
        });

        var allSections = new SectionCollection();
        allSections.fetch({
            success: function(allSections) {
                var collView = new SectionCollectionView({collection: allSections});
                $('#content').html(collView.$el);
            }
        });


    });
</script>

<div id="content">
    <h2 class="fixlink" id="node">Node.js</h2>
    <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>



</div>